@tailwind base;
@tailwind components;
@tailwind utilities;

$accent: #2993bf;

.input-field {
  border: none;
  border-bottom: 2px solid $accent;
  border-radius: 5px;
  background: none;
}

::-webkit-scrollbar {
  position: absolute;
  width: 5px;
}

::-webkit-scrollbar-track {
  position: absolute;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  position: absolute;
  background: gray;
  border-radius: 10px;
}


.brand-logo {
  margin-top: 1rem;
  width: 3rem;
}

.brand-name p {
  color: white;
  display: inline-block;
  font-weight: bold;
  font-size: 2rem;
  margin-left: .8rem;
  margin-top: 1.2rem;
}